:root {
  /* Font token */
  --font-sans: "IBM Plex Sans";

  /* Light */
  --color-bg: #f8fafc;        /* slate-50 */
  --color-ink: #0f172a;       /* slate-900 */
  --color-muted: #475569;     /* slate-600 */
  --color-border: #e2e8f0;    /* slate-200 */
  --color-accent: #6366f1;    /* indigo-500 */
  --color-accent-2: #4f46e5;  /* indigo-600 */
  color-scheme: light;
}

:root.dark {
  /* Dark */
  --color-bg: #020617;        /* slate-950 */
  --color-ink: #f5f5f5;       /* slate-200 */
  --color-muted: #94a3b8;     /* slate-400 */
  --color-border: #1e293b;    /* slate-800 */
  --color-accent: #818cf8;    /* indigo-400 */
  --color-accent-2: #6366f1;  /* indigo-500 */
  color-scheme: dark;
}
