:root {
  /* Font token */
  --font-sans: "IBM Plex Sans";

  /* Light */
  --color-bg: oklch(96.7% 0.001 286.375);        
  --color-ink: oklch(20.8% 0.042 265.755);
  --color-muted: oklch(58.6% 0.253 17.585);       /* slate-600 */
  --color-border: oklch(70.4% 0.04 256.788);    /* slate-200 */
  --color-accent: 99 102 241;     /* indigo-500 */
  --color-accent-2: 79 70 229;    /* indigo-600 */
}

.dark {
  /* Dark */
  --color-bg: 2 6 23;             /* slate-950 */
  --color-ink: 226 232 240;       /* slate-200 */
  --color-muted: 148 163 184;     /* slate-400 */
  --color-border: 30 41 59;       /* slate-800 */
  --color-accent: 129 140 248;    /* indigo-400 */
  --color-accent-2: 99 102 241;   /* indigo-500 */
}
